name: Authentication
on: 
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  run_job_with_aws:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Additional steps
        run: aws sts get-caller-identity 
