name: Authentication
on: push

permissions:
  id-token: write

jobs:
  run_job_with_aws:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Workflow
        run: echo "This is working = ${{ vars.AWS_REGION }}" 